<!-- já que esta view está dentro de um app, é uma boa prática criar um diretório com o nome do app em que ela estar
     dentro de templates 
-->

<!doctype html>
<html lang="en">
  <head>
    {% load staticfiles %} <!-- carregar os arquivos estáticos -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gabriel</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Gabriel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="https://twitter.com/">Twitter</a>
                    <a class="nav-item nav-link" href="{% static 'CV.pdf' %}">Resumo</a>
                    <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="container">
            <h1 class="text-center pt-3">Bem Vindo ao Blog do Gabriel</h1>
            <br/>

            <h2>Últimos Posts</h2>
            <hr/>

            {% for blog in blogs.all %}
                <!-- a rota eh detail e o parâmetro da rota é o id do blog -->
                <a href="{% url 'detail' blog.id %}"><h3>{{blog.title}}</h3></a>
                {% comment %} {{blog.pub_data}} {% endcomment %}
                {{ blog.pub_date_pretty }}
                <br/>
                <img class="img-fluid" src="{{blog.image.url}}" height="200" width="200"/>
                <br/>
                {% comment %} <p>{{blog.body}}</p> {% endcomment %}
                <p>{{blog.summary}}</p>
            {% endfor %}
        </div>

    </main>

    <footer class="text-muted">
      <div class="container text-center">
        <p>&#169; Gabriel {% now 'Y' %}</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
    crossorigin="anonymous"></script>
  </body>
</html>
