{% extends 'base.html' %}

{% block content %}

{% if error %}
    {{error}}
    <br/>
{% endif %}

<h1>Criar</h1>

<!-- como estamos trabalhando com imagens nesse formulário precisamos acrescentar o enctype -->
<form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    Título: 
    <br/>
    <input name="title"/>
    <br/>

    Descrição: 
    <br/>
    <textarea name="body" style="resize:none;"></textarea>
    <br/>

    Url: 
    <br/>
    <input name="url"/>
    <br/>

    Ícone: 
    <br/>
    <input type="file" name="icon"/>
    <br/>

    Imagem: 
    <br/>
    <input type="file" name="image"/>
    <br/>
    <br/>

    <input class="btn btn-primary" type="submit" value="Cadastrar"/>

</form>

{% endblock %}