{% extends 'base.html' %}

{% block content %}
    
<div class="row mt-5">
    <div class="col-2">
        <!-- é a url (caminho) do ícone do produto -->
        <img src="{{ product.icon.url }}" class="img-fluid"/>
    </div>
    <div class="col-10">
        <!-- product.url é a url definida pelo usuário na criação do seu produto -->
        <a href="{{product.url}}"><h1>{{product.title}}</h1></a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-8">
        <img src="{{ product.image.url }}" class="img-fluid"/>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote').submit()}">
            <button class="btn btn-primary btn-large btn-block">
                <span class="oi oi-caret-top"></span>
                Votos {{product.votes_total}}
            </button>
        </a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-4">
        <h4>
            <span class="oi oi-magnifying-glass"></span>
            Caçado por: {{product.hunter.username}}
        </h4>
    </div>
    <div class="col-4 text-right">
        <h4> 
            <span class="oi oi-clock"></span>
            {{product.pub_date_pretty}}
        </h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-8">
        <p>{{product.body}}</p>
    </div>
</div>

<form id="upvote" action="{% url 'upvote' product.id %}" method="POST">
    {% csrf_token %}
</form>

{% endblock %}