{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}

    <div class="row mt-5">
        <div class="col-2" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">
            <img src="{{ product.icon.url }}" class="img-fluid"/>
        </div>
        
        <div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">
            <h1>{{product.title}}</h1>
            <p>{{product.summary}}</p>
        </div>

        <div class="col-4">
            <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}">
                <button class="btn btn-primary btn-large btn-block">
                    <span class="oi oi-caret-top"></span>
                    Votos {{product.votes_total}}
                </button>
            </a>
        </div>
    </div>

    <form id="upvote{{product.id}}" action="{% url 'upvote' product.id %}" method="POST">
        {% csrf_token %}
    </form>

{% endfor %}
{% endblock %}