<h1>Contador</h1>

<h2>Há {{count}} palavras no texto: {{fulltext}}</h2>

<h3>Contador de palavras: </h3>

{% for word, counttotal in worddictionary %}
    {{word}} - {{counttotal}}
    <br/>
{% endfor %}

<a href="{% url 'home' %}">Página Inicial</a>