{% comment %} 
    <h1>This is HTML</h1>
    <h3>{{msg}}</h3> 
{% endcomment %}

<h1>Word Count</h1>

<a href="{% url 'about' %}">Sobre</a>

{% comment %} 
    ao submeter o formulário os dados serão enviados para a rota count, porém se por acaso eu mudar o nome da
    rota no arquivo urls eu tenho que vim aqui e mudar o nome que está em action, logo isso não é uma boa prática

    logo usaremos um comando para que não importe o nome da rota definido no arquivo urls, o nome count continue
    conseguindo referenciá-la ou chamá-la
{% endcomment %}
{% comment %} <form action="count"> {% endcomment %}
<form action="{% url 'count' %}">
    <textarea cols="40" rows="10" name="fulltext"></textarea>
    <br/>
    <input type="submit" value="Contador"/>
</form>