{% extends 'base.html' %}

{% block content %}

{% if error %}
    {{error}}
    <br/>
{% endif %}

<h1>Sign Up</h1>

<form action="{% url 'signup' %}" method="POST">

    {% csrf_token %}

    Usuário: 
    <br/>
    <input name="username"/>
    <br/>

    Senha:
    <br/>
    <input type="password" name="password"/>
    <br/>

    Confirmar Senha:
    <br/>
    <input type="password" name="confirmPassword"/>
    <br/>
    <br/>

    <input class="btn btn-primary" type="submit" value="Cadastrar"/>

</form>

{% endblock %}